@page "/logout"


@inject ILocalStorageService localStorage
<h3>Logout</h3>

@code {
    [Inject] AuthenticationStateProvider authenticationStateProvider { get; set; }
    [Inject] HttpClient Client { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await localStorage.RemoveItemAsync("token");
        (authenticationStateProvider as AuthStateProvider)?.NotifyUserLogout();

        Client.DefaultRequestHeaders.Authorization = null;

        NavigationManager.NavigateTo("/login");
    }

}