<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["LockyLuke.Web.styles.css"]" />
    <script src="https://kit.fontawesome.com/676c98fc29.js" crossorigin="anonymous"></script>
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
@*     <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <script src="_content/Blazored.Modal/blazored.modal.js"></script> *@
    @* <HeadOutlet @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    @* <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" /> *@

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
